<div class="container" style="text-align: center;">
		<div class="btn-group mr-3 mt-5 ml-3">
			<a class="navbar-brand" href="/" style="color: #FAF4C0; font-weight: bold; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
			  <img src="/assets/yoghurt.png" width="auto" height="50" class="d-inline-block align-left" >
			  back
			  <img src="/assets/yoghurt.png" width="auto" height="50" class="d-inline-block align-left" >
			</a>
		</div>
	
	<div class="row justify-content-center" style="margin: 5% auto 0 auto; width: 80%">
	  <div class="col-sm-6" >
	  	<% a = ["기쁨", "슬픔", "그리움", "화남", "외로움"] %>
				<% (0..4).each do |n| %>
				    <% if @music.theme == a[n] %>
				    	<%= link_to @music.theme, "/theme#{n}" %>
				    <% end %>
				<% end %>
  		<div class="card" style="border: 2.5px solid #FAF4C0;border-radius: 10px; margin-top: 5%;">
  			<%= link_to (image_tag @music.image.url, size: '250x250') %>
				<br>
				<div class="card-body">
					<%= @music.title %>
					<br>
					<%= @music.content %>
				</div>
			</div>
		</div>
	</div>
	<div style="text-align: right;">
		<% if current_user == @music.user %>
		    <%= link_to 'edit', edit_music_path %>
		    <%= link_to 'delete', music_path, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>	
	</div>
	<td><%= link_to '[좋아요]', up_vote_path(@music.id) %></td>
	<td><%= @music.get_upvotes.size %></td>
	<td><%= link_to '[싫어요]', down_vote_path(@music.id) %></td>
</div>